HolidayReservationSystemClient/xml-resources/web-service-references/horswebservice/wsdl/localhost_8080/horswebservice/horswebservice.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="horswebservice">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/horswebservice/horswebservice?xsd=1"/>
</xsd:schema>
</types>
<message name="retrievePriceForOnlineReservationByRoomType">
<part name="parameters" element="tns:retrievePriceForOnlineReservationByRoomType"/>
</message>
<message name="retrievePriceForOnlineReservationByRoomTypeResponse">
<part name="parameters" element="tns:retrievePriceForOnlineReservationByRoomTypeResponse"/>
</message>
<message name="onlineReservationAmount">
<part name="parameters" element="tns:onlineReservationAmount"/>
</message>
<message name="onlineReservationAmountResponse">
<part name="parameters" element="tns:onlineReservationAmountResponse"/>
</message>
<message name="viewReservationDetails">
<part name="parameters" element="tns:viewReservationDetails"/>
</message>
<message name="viewReservationDetailsResponse">
<part name="parameters" element="tns:viewReservationDetailsResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="ReservationNotFoundException">
<part name="fault" element="tns:ReservationNotFoundException"/>
</message>
<message name="createNewOnlineReservation">
<part name="parameters" element="tns:createNewOnlineReservation"/>
</message>
<message name="createNewOnlineReservationResponse">
<part name="parameters" element="tns:createNewOnlineReservationResponse"/>
</message>
<message name="RoomTypeNotFoundException">
<part name="fault" element="tns:RoomTypeNotFoundException"/>
</message>
<message name="CreateNewReservationException">
<part name="fault" element="tns:CreateNewReservationException"/>
</message>
<message name="retrieveRoomTypeByRoomId">
<part name="parameters" element="tns:retrieveRoomTypeByRoomId"/>
</message>
<message name="retrieveRoomTypeByRoomIdResponse">
<part name="parameters" element="tns:retrieveRoomTypeByRoomIdResponse"/>
</message>
<message name="partnerLogin">
<part name="parameters" element="tns:partnerLogin"/>
</message>
<message name="partnerLoginResponse">
<part name="parameters" element="tns:partnerLoginResponse"/>
</message>
<message name="viewReservation">
<part name="parameters" element="tns:viewReservation"/>
</message>
<message name="viewReservationResponse">
<part name="parameters" element="tns:viewReservationResponse"/>
</message>
<message name="PartnerNotFoundException">
<part name="fault" element="tns:PartnerNotFoundException"/>
</message>
<message name="searchRoom">
<part name="parameters" element="tns:searchRoom"/>
</message>
<message name="searchRoomResponse">
<part name="parameters" element="tns:searchRoomResponse"/>
</message>
<portType name="horswebservice">
<operation name="retrievePriceForOnlineReservationByRoomType">
<input wsam:Action="http://ws.session.ejb/horswebservice/retrievePriceForOnlineReservationByRoomTypeRequest" message="tns:retrievePriceForOnlineReservationByRoomType"/>
<output wsam:Action="http://ws.session.ejb/horswebservice/retrievePriceForOnlineReservationByRoomTypeResponse" message="tns:retrievePriceForOnlineReservationByRoomTypeResponse"/>
</operation>
<operation name="onlineReservationAmount">
<input wsam:Action="http://ws.session.ejb/horswebservice/onlineReservationAmountRequest" message="tns:onlineReservationAmount"/>
<output wsam:Action="http://ws.session.ejb/horswebservice/onlineReservationAmountResponse" message="tns:onlineReservationAmountResponse"/>
</operation>
<operation name="viewReservationDetails">
<input wsam:Action="http://ws.session.ejb/horswebservice/viewReservationDetailsRequest" message="tns:viewReservationDetails"/>
<output wsam:Action="http://ws.session.ejb/horswebservice/viewReservationDetailsResponse" message="tns:viewReservationDetailsResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/horswebservice/viewReservationDetails/Fault/InvalidLoginCredentialException"/>
<fault message="tns:ReservationNotFoundException" name="ReservationNotFoundException" wsam:Action="http://ws.session.ejb/horswebservice/viewReservationDetails/Fault/ReservationNotFoundException"/>
</operation>
<operation name="createNewOnlineReservation">
<input wsam:Action="http://ws.session.ejb/horswebservice/createNewOnlineReservationRequest" message="tns:createNewOnlineReservation"/>
<output wsam:Action="http://ws.session.ejb/horswebservice/createNewOnlineReservationResponse" message="tns:createNewOnlineReservationResponse"/>
<fault message="tns:RoomTypeNotFoundException" name="RoomTypeNotFoundException" wsam:Action="http://ws.session.ejb/horswebservice/createNewOnlineReservation/Fault/RoomTypeNotFoundException"/>
<fault message="tns:CreateNewReservationException" name="CreateNewReservationException" wsam:Action="http://ws.session.ejb/horswebservice/createNewOnlineReservation/Fault/CreateNewReservationException"/>
</operation>
<operation name="retrieveRoomTypeByRoomId">
<input wsam:Action="http://ws.session.ejb/horswebservice/retrieveRoomTypeByRoomIdRequest" message="tns:retrieveRoomTypeByRoomId"/>
<output wsam:Action="http://ws.session.ejb/horswebservice/retrieveRoomTypeByRoomIdResponse" message="tns:retrieveRoomTypeByRoomIdResponse"/>
<fault message="tns:RoomTypeNotFoundException" name="RoomTypeNotFoundException" wsam:Action="http://ws.session.ejb/horswebservice/retrieveRoomTypeByRoomId/Fault/RoomTypeNotFoundException"/>
</operation>
<operation name="partnerLogin">
<input wsam:Action="http://ws.session.ejb/horswebservice/partnerLoginRequest" message="tns:partnerLogin"/>
<output wsam:Action="http://ws.session.ejb/horswebservice/partnerLoginResponse" message="tns:partnerLoginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/horswebservice/partnerLogin/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="viewReservation">
<input wsam:Action="http://ws.session.ejb/horswebservice/viewReservationRequest" message="tns:viewReservation"/>
<output wsam:Action="http://ws.session.ejb/horswebservice/viewReservationResponse" message="tns:viewReservationResponse"/>
<fault message="tns:PartnerNotFoundException" name="PartnerNotFoundException" wsam:Action="http://ws.session.ejb/horswebservice/viewReservation/Fault/PartnerNotFoundException"/>
</operation>
<operation name="searchRoom">
<input wsam:Action="http://ws.session.ejb/horswebservice/searchRoomRequest" message="tns:searchRoom"/>
<output wsam:Action="http://ws.session.ejb/horswebservice/searchRoomResponse" message="tns:searchRoomResponse"/>
</operation>
</portType>
<binding name="horswebservicePortBinding" type="tns:horswebservice">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="retrievePriceForOnlineReservationByRoomType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="onlineReservationAmount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewReservationDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
<fault name="ReservationNotFoundException">
<soap:fault name="ReservationNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="createNewOnlineReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RoomTypeNotFoundException">
<soap:fault name="RoomTypeNotFoundException" use="literal"/>
</fault>
<fault name="CreateNewReservationException">
<soap:fault name="CreateNewReservationException" use="literal"/>
</fault>
</operation>
<operation name="retrieveRoomTypeByRoomId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RoomTypeNotFoundException">
<soap:fault name="RoomTypeNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="partnerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="viewReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PartnerNotFoundException">
<soap:fault name="PartnerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="searchRoom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="horswebservice">
<port name="horswebservicePort" binding="tns:horswebservicePortBinding">
<soap:address location="http://localhost:8080/horswebservice/horswebservice"/>
</port>
</service>
</definitions>